@keyframes bgcolor {
    0% {
        background-color: #790005
    }

    30% {
        background-color: #D01A20
    }

    60% {
        background-color: #FF0009
    }

    90% {
        background-color: #00C035
    }

    100% {
        background-color: #007621
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
